<div class="bar" ng-cloak>
    <div class="bar-inner"><span class="fill1" [ngStyle]="{width:(low/total)*100+'%'}"></span><span class="fill2" [ngStyle]="{width:(medium/total)*100+'%'}"></span><span class="fill3" [ngStyle]="{width:(high/total)*100+'%'}"></span></div>
    <div class="bar-label"><span class="label"><span class="icon fill1"></span>low {{ (low/total)*100 | toFixed:2}}%</span><span class="label"><span class="icon fill2"></span>ok {{ (medium/total)*100 | toFixed:2}}%</span><span class="label"><span span class="icon fill3"></span>excellent {{ (high/total)*100 | toFixed:2}}%</span>
    </div>
</div>