.bar{

width:100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}

.bar-inner{
    width:300px;
     border:0px solid #00ffcc;
    border-radius: 5px;
    height:20px;
}

.bar-inner span{
    
    display: inline-block;
    height:100%;
   
}

.fill1{
    background-color: indianred;
}

.fill2{
    
    background-color:darkorange;
}

.fill3{
 
    background-color:limegreen;
}

.bar-label{
    margin-top: 10px;
    width:100%;
    height:40px;
    display: flex;
    justify-content: center;
}
.bar-label span{
    
    display: inline-block;
    height:100%;
    
   
}

.bar-label .label{
    
   
    margin-right: 10px;
    padding: 5px;
   
}

.bar-label .icon{
    width:20px;
    height:20px;
    margin-right: 3px;
    
}