<div class="column">
    <div class="header">
        <div class="header-right">
            <h1>matific app</h1>
            <ul>
                <li>
                    <a></a>
                </li>
                <li>
                    <a></a>
                </li>
            </ul>
        </div>
        <div class="header-left"></div>
    </div>
    <router-outlet></router-outlet>
</div>