<div class="main column">
    <nav class="header">
        <div class="header-right">
             <a class="logo-img" routerLink="/main/"><img src="/assets/logo.png" alt="Matific App" style="width:150px"></a>
            <ul>
                <a routerLink="/dashboard">dashboard</a>
                <a [hidden]="isLogged" routerLink="/login">login</a>
                <a [hidden]="isLogged" routerLink="/register">register</a>
                
            </ul>
        </div>
        <div class="header-left"><div class='teacher-img'></div><div><div><b>{{userName}}</b></div><div><span class="thin" [hidden]=!isLogged>Teacher</span></div></div><button (click)="clearUser()" *ngIf=isLogged>logout</button></div>
    </nav>
    <router-outlet></router-outlet>
</div>