<div class="column">
  <h1>Reporting - Student Snapshot</h1>
  <div id="filter-area" *ngIf="classes!=null">

    <Label for="class">Class</Label>
    <select id="class" (change)="classChange($event.target.value)">
      <option *ngFor="let class of classes; index as idx" [value]="class.name">{{class.name}}</option>
    </select>
    <Label for="student">Student</Label>
    <select id="student" (change)="studentChange($event.target.value)">
      <option value="All">All</option>
      <option *ngFor="let student of (students | orderByWord:1:' ':1)" [value]="student">{{student}}</option>
    </select>
    <Label for="date-range1">start date</Label>
    <input name="date1" id="date-range1" type="date" value="2016-01-01" ([ngModel])="date1" (change)="startDateChange($event.target.value)" />
    <Label for="date-range2">end date</Label>
    <input name="date2" id="date-range2" type="date" value="2017-09-01" ([ngModel])="date2" (change)="endDateChange($event.target.value)" />
  </div>
  <div class="results" *ngIf="classes!=null && activities!=null">
      <p><b>{{currentStudent}}</b> overall results for the period:</p>
    <p><span>{{date1 }} - </span><span>{{date2}}</span></p>
      <div class="column">
          <achievement-bar [data]="studentActivities"></achievement-bar>
      </div>
  </div>


  <table id="table-area" class="table">
    <thead>
      <tr>
        <th *ngIf="false">Student Name</th>
        <th style="cursor: pointer" (click)="filterBy(param.name)" *ngFor="let param of parameters;let k=index">{{param.label}} {{(sortOrder==-1)? "&#9206;" : "&#9207;" }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let activity of (studentActivities | orderBy:currentFilter:sortOrder)">
        <td *ngIf="false">{{students[currentClassIdx][i]}}</td>
        <td *ngFor="let param of parameters;let j=index">{{activity[param.name]}}{{param.name=="result" ? "%":""}}</td>
      </tr>
    </tbody>
  </table>

  <div>
