
*{
    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.results{
   
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1{
    
     padding-top: 20px;
    padding-bottom: 20px;
}
p{
    
    padding: 10px;
}

.table {
    
    border:1px solid gainsboro;
     border-collapse: collapse;
    
}

#table-area{
    width:100%;
    margin-top: 20px;
}
.table th{
    
 padding-bottom: 10px;
    padding-top: 10px;
    background-color: gainsboro;
}

.table tr{
    margin: 0px;
   
    border-bottom:1px solid gainsboro;
    
    
}

.table td{
    
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}