<div id="login" class="content-area column">
<h1>please login</h1>
<form [formGroup]="loginForm" (submit)="login($event)" class="column form">
    <input formControlName="username" type="text" name="username" placeholder="username">
    <input formControlName="password" type="password" name="password" placeholder="password">
    <button type="submit">login</button>
    </form>
    <p class="area"><span class="login-error">{{loginStatus}}</span></p>
    <p class="area">or <a routerLink='/register'><b>register</b></a></p>
    
</div>