<div id="register" class="column content-area">
<h1>register form</h1>
<form [formGroup]="registerForm" (submit)="register()" class="column form">
    <Label for="username">username:</Label>
    <input type="text" name="username" formControlName="username">
     <Label for="password">password:</Label>
    <input type="password" formControlName="password" placeholder="password">
     <input type="password" formControlName="password_repeat" placeholder="re-type password">
    <button type="submit">register</button>
    </form>
    <div><span class="form-error">{{registerStatus}}</span></div>
    <div><button (click)="clearUsers()" style="margin-top:30px;background-color: orangered">clear all users</button></div>

</div>