*{
    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.main{
    
   font-family: sans-serif;
    margin: 0 auto;
    max-width: 1280px;
}

.content-area{
    
    margin-top:50px;
    display: flex;
    width:100%;
    align-items: center;
    justify-content: center;
}

.content-area h1{
    
    margin-bottom: 10px;
}
.header{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column{
     display: flex;
    flex-direction: column;
}

.form{
    
    max-width:200px;
}


.form input{
    
    margin-bottom: 10px;
}

.area{
    
    margin-top: 10px;
    margin-bottom: 10px;
}
.header-right{
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-right ul{
    
    list-style-type: none;
    
}

.header-right ul a{
    
    display: inline-block;
    cursor: pointer;
    
    padding: 20px;
    margin-left: 5px;
    font-size: 15px;
    background-color: gainsboro;
    color: black;
}

a:hover{
    
    background-color:coral!important;
     color:black;
    text-decoration:underline!important;
}

a:link,a:active,a:visited{
    
    text-decoration: none;
    color:black;
}

.header-left{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    color: dodgerblue;
    font-size: 20px;
    line-height: 18px;
}

.teacher-img{
    
    width:30px;
    height:30px;
    border:3px solid dodgerblue;
    border-radius: 18px;
    margin-right: 5px
}

.thin{
    
    font-weight: lighter;
    font-size: 15px;
}

input[type=text]{
    
    padding: 5px;
}

input[type=password]{
    
    padding: 5px;
}
button {
   border: 0px solid #4f92e3;
   background: #4f92e3;
   padding: 10.5px 21px;
   border-radius: 18px;
   color: white;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
    cursor: pointer;
   }
button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }




